/* CSS RESET https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  width: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* MY SETTINGS */

body {
  background: #021b24;
  color: #f4f4f9;
}

h1 {
  font-size: 45px;
}

#layout {
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
  min-height: 100%;
}

header {
  border-bottom: 2px solid black;
  grid-area: header;
  background: #f4f4f9;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: 15px;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #021b24;
  font-size: 1.5em;
}

nav ul li a:hover {
  color: #001a23;
  background: #cfd6dd;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 1fr;
  gap: 15px;
  justify-items: center;
}

#input-space {
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  background-color: #b8dbd98a;
  height: 20vh;
}

form {
  display: grid;
  justify-items: center;
}

input {
  width: 40vw;
}

footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid black;
  justify-content: center;
  font-size: 1.24em;
  background: #f4f4f9;
  color: #021b24;
}
